@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');

:root {
  /**
   * Colour palette
   */
  --c-primary: #34BC38;
  --c-title: #000000;
  --c-text: #5E6163;
  --c-footer: #707070;
  --c-link: #33B5ED;
  --c-buttonactive: #949494;
  /**
   * Layout
   */
  --l-gutter: 1rem;

  /**
   * Typography
   */
  --t-primary: 'Segoe UI', Tahoma, Verdana, sans-serif;
  --t-banners: 'Oleo Script Swash Caps', cursive;
  --t-gsmprimary: 'Segoe UI', Tahoma, Verdana, sans-serif;
  --t-gsmbanners: 'Oleo Script Swash Caps', cursive;

  --t-headline: var(--t-primary);
  --t-subtitle: var(--t-primary);
}


